# Data files
data/
NRI_Table_Counties/
tl_2022_us_county/
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.csv

# Mac system files
.DS_Store
.AppleDouble

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
